* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    Segoe UI,
    sans-serif;
  background: linear-gradient(to right, #141e30, #243b55);
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  min-width: 220px;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
}

.card h3 {
  color: #222;
  margin-bottom: 12px;
}

.category {
  display: inline-block;
  background: #eef2ff;
  color: #4f46e5;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 13px;
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
  color: #16a34a;
}

.updated {
  color: #666;
  font-size: 14px;
}

.btn-wrapper {
  text-align: center;
  margin-top: 30px;
}

#loadMore {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 14px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

#loadMore:hover {
  opacity: 0.9;
}
